@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.Nokia {
  // background: url("../../images/nokia.png");
  width: 650px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  z-index: 1;

  .screen {
    width: 450px;
    height: 320px;
    position: absolute;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(90, 120, 72);
    border-radius: 40px;
    z-index: 2;
  }

  .nokiaImage {
    position: relative;
    width: 100%;
    top: -300px;
    z-index: 2;
    // opacity: 0.5;
  }

  @include atSmall {
  }
}
