@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

// $width: 530px;

.Nokia {
  // box-sizing: border-box;
  z-index: 1;
  margin: auto;

  .nokiaBody {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nokiaImage {
      position: absolute;
      display: block;
      z-index: 2;
      width: 100%;
    }

    .screen {
      position: absolute;
      z-index: 1;
      width: 68%;
      padding-bottom: 48.8%;
      background-color: rgb(90, 120, 72);
      margin-top: 64%;
    }
  }
  @media (orientation: portrait) {
    height: 100vh;
  }

  //橫屏CSS
  @media (orientation: landscape) {
    width: 650px;
    // min-width: 100%;

    @include atSuperLarge {
      margin-top: -200px;
    }

    @include atLarge {
      margin-top: -300px;
    }
    @include atMedium {
      width: 100%;
      margin-top: -68%;
    }
  }
}

// 豎屏CSS
